body {
    margin: 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to bottom, rgb(125, 125, 125), rgb(75, 90, 90))
}

.header {
    background-color: rgb(55, 55, 55);
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}

.main {
    display: flex;
    padding-top: 150px;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 14px;
    border-radius: 10px;
}

.second-display,
.iodisplay {
    height: 10px;
    padding: 10px;
    border-radius: 6px;
}

.second-display {
    background-color: rgb(230, 230, 230);
    text-align: end;
}

.iodisplay {
    background-color: rgb(251, 255, 14);
    text-align: end;
}

.btns-container {
    display: flex;
    padding: 10px;
}

.nums-symbs {
    display: grid;
}

.symbs {
    display: grid;
    grid-template-columns: auto auto auto;
}

.nums1-9 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.operators {
    display: grid;
}

.num0-period {
    display: grid;
    grid-template-columns: auto auto auto;
}

.calculator button {
    background-color: black;
    color: white;
    font-size: 28px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
}

.calculator #zero {
    width: 140px;
    height: 70px;
}

.extra .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.extra button {
    background-color: white;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}

button {
    cursor: pointer;
}

button:hover {background-color: rgb(175, 190, 190)}

button:active {
    background-color: rgb(175, 190, 190);
    box-shadow: 0 5px rgb(141, 141, 141);
    transform: translateY(1px);
}

.test {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: 60px 400px;
}

.test div {
    color: white;
    font-size: 40px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.footer a {
    color: white;
    font-size: 16px;
}

.footer a:link { text-decoration: none; }
.footer a:visited { text-decoration: none; }
.footer a:hover { text-decoration: underline; }
.footer a:active { text-decoration: underline; }